<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CENTRO COMERCIAL</title>
       
    </head>
    <body>
        <div style="display: inline-block; background-color: black; color: white; padding: 5px;">
            <h1>CENTRO COMERCIAL {{centroComercial}}</h1>
        </div>
        
        <h2>Lugar Asignado: {{ lugar.lugar }}</h2>
        <h2>Nivel: {{ lugar.nivel }}</h2>
        <img src="{{ imagen }}" alt="Codigo QR">
        
        <h2>Fecha: {{fecha}}</h2>
        <h2>Hora de entrada: {{horario}}</h2>
        <a href="{{ imagen }}" download="{{ lugar.lugar }}.png"><button>Descargar QR</button></a>

    </body>
</html>